{% extends 'inv/base.html' %}


{% block content %}
{% load static %}

<div class="row px-5">
  <div class="col-md-12 p-3 border-bottom border-dark">
  <div class="media">

    <div class="media-body">
  <h1>Box: {{ box.box_name }}</h1>
  <p class="lead">This box is part of the {{ box.warehouse }} warehouse. It
  contains {{ items.item_totals.icount }} item{{ items.item_totals.icount|pluralize }} with a total value of ${{ items.item_totals.val|floatformat:2 }}.</p>
  </div><!-- /media-body-->
  <!--camera-->
  {% if camera != 'None' %}
  
  {% with boxid=box.box_id|slugify %}
  <p><a href="{% url 'capture' camera 'box_'|add:boxid %}"
        target="_blank">Submit a new photo via the camera</a></p>
  {% endwith %}
  {% else %} You may submit a new photo of this object by emailing it to
  [address].
  {% endif %}
  <img class="img figure-img img-fluid" src="{% static 'inv/img/'|add:box.box_img %}"
  alt="Photo of box {{ box.box_id }}"
  caption="Box {{ box.box_id }} | {{ box.box_name }}" style="height: 300px"/>
  </div><!-- /media-->
</div><!--col-->

  </div><!--/row-->
  <div class="row p-3">
    {% for i in items %}
        <div class="col-md-4 my-2 themed-grid-col">


      <div class="card mb-4 border-dark d-flex align-items-stretch h-100">
        <div class="card-header">
        <h5 class="card-title">{{ i.item_id.item_name }}<a class="card-link badge badge-pill badge-primary float-right" href="{% url 'item' i.item_id.item_id %}">View</a></h5>
        </div>
        {% if i.item_id.item_img|length > 0 %}
        <img class="card-img" src="{% static 'inv/img/'|add:i.item_img %}"
                                  alt="Box">
        {% else %}
        <p class="alert alert-warning text-center">This item does not have an image.</p>
        <!-- camera link -->
        {% if camera != 'None' %}
            {% with itemid=i.item_id.item_id|slugify %}
            <p><a href="{% url 'capture' camera 'item_'|add:itemid %}" target="_blank">Submit a photo using the camera</a></p>
            {% endwith %}
        {% endif %} <!-- camera settings check -->
        {% endif %} <!-- image -->
                  <div class="card-body">
                    <ul class="list-group list-group-flush" type="none">
                    <li>Description: {{ i.item_id.item_desc }}</li>
                    <li>Quantity: {{ i.item_id.item_qty }}</li>
                  <li>Value (each): &#36;{{ i.item_id.item_value|floatformat:2 }}</li>
                  {% if i.item_id.item_qty > 1 %}
                  {% if i.item_id.totval %}
                    <li>Value (total): &#36;{{ i.item_id.totval|floatformat:2 }}</li>
                    {% endif %}
                  {% endif %}
                  <li>
                  {% if i.item_id.consumable == True %}
                  <ul>
                    <li>Consumable: Yes</li>
                    <li>Percent Remaining: {{ i.item_id.item_remaining }}&#37;</li>
                    </ul>
                  {% else %}
                    Consumable: No
                  {% endif %}
                  </li>
                  {% if i.item_id.kw_itm %}
                  <li>Keywords:
                    <ul>
                    {% for k in i.item_id.kw_itm.all %}
                      <li>
                      <a class="card-link" href="{% url 'keyword' k.keyword_id|slugify %}">{{ k.keyword_id }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  </li>
                  {% endif %}

                  </div><!-- /card-body-->

                  </div><!-- /card-->
      </div><!-- /col-->




        {% endfor %}
  </div><!-- /row-->


{% endblock %}
