{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container-fluid">
<div class="row p-3">
  <div class="col-md-11 offset-1">
<h1>Consumables List</h1>
<p class="lead">Print this and take it shopping with you!</p>
<p>Tip: Use the Search Builder to get a customized shopping list.
   Click "Add Condition", select "Restock Qty" in the first menu, NOT in the second, and "Buy 0" in the third. Then, click "Print" and off you go!</p>
</div><!--col-->
</div><!--row-->
<div class="row">
<div class="col-md-12 p-3 border border-dark">
<table class="table t2 dt-responsive">
  <thead>
    <th scope="col">Item ID</th>
    <th scope="col">Item Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Percent Remaining</th>
    <th scope="col">Restock Qty</th>
  </thead>
  <tbody>
    {% for i in consumables %}
    {% if i.item_remaining == 100 %}
    <tr class="full">
      {% else %}
    <tr>
      {% endif %}
      <td>{{ i.item_id }}</td>
      <td>{{ i.item_name }}</td>
      <td>{{ i.item_qty }}</td>
      <td>{{ i.item_remaining }}&#37;</td>
      {% if i.item_qty > 1 %}
      <td>Buy {{ i.restock|floatformat }}</td>
      {% elif i.item_qty == 1 and i.item_remaining < 100 %}
      <td>Restock Soon</td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
</table>
  </div>
  </div>
  </div>
  {% endblock %}
