{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container-fluid clearfix">
  <div class="row my-3">
  <div class="col-md-8 offset-2"><h1 class="mx-4">Items</h1>
  <p class="lead mx-4">There are {{ items|length }} items in this collection.</p>
  </div><!--col -->
  </div><!--row-->
<!-- sidebar -->
<nav class="sidebar col-md-2 float-left">
<h4 class="text-center">Filter by Keyword</h4>
<div class="list-group list-group-flush mx-1">
<button class="lead remove list-group-item list-group-item-warning py-1 ">Reset</button>
</div>
<hr>
<div class="list-group list-group-flush mx-1">

  {% for k in kw %}
  <button class="list-group-item list-group-item-primary neutral kw {{ k.keyword|slugify }} py-1">{{ k.keyword }}</button>
  {% endfor %}
</div>
</nav>
<main role="main" class="col-md-10 float-right">

  <div class="row mb-3">
    {% for i in items %}

       <div class="col-md-4 my-2 themed-grid-col item {% for k in i.kw_itm.all %} {{ k.keyword_id|slugify }}{% endfor %}">
        <div class="card mb-4 border-dark show d-flex align-items-stretch h-100">
          <div class="card-header">
          <h5 class="card-title">{{ i.item_name }}<a class="card-link badge badge-pill badge-primary float-right" href="{% url 'item' i.item_id %}">View</a></h5>
          </div>
          {% if i.item_img|length > 0 %}
            <img class="card-img-top img-responsive"
               src="{% static 'inv/img/'|add:i.item_img %}" alt="Photo of Item">

            {% else %}<p class="alert alert-warning text-center">A photo of this item does not exist.</p>
            {% endif %}
            <!-- camera -->
            {% if camera != 'None' %}
            {% with itemid=i.item_id|slugify %}
            <p class="text-center"><a class="alert-link" 
              href="{% url 'capture' camera 'item_'|add:itemid %}"
              target="_blank">Submit a photo via the camera</a></p>
            {% endwith %}
            {% endif %}

          <div class="card-body">



              <ul class="list-group list-group-flush" type="none">
              <li>Description: {{ i.item_desc }}</li>
            <li>Location:
            <ul>
              <li>Warehouse: <a class="card-link" href="{% url 'warehouse' i.whid %}">{{ i.whid }} | {{ i.wh }}</a></li>
              <li>Box: <a class="card-link" href="{% url 'box' i.boxid %}">{{ i.boxid }} | {{ i.box }}</a></li>
            </ul>
            </li>
            <li>Quantity: {{ i.item_qty }}</li>
            <li>Value (each): &#36;{{ i.item_value|floatformat:2 }}</li>
            {% if i.item_qty > 1 %}
              <li>Value (total): &#36;{{ i.totval|floatformat:2 }}</li>
            {% endif %}
            <li>
            {% if i.consumable == True %}
            <ul>
              <li>Consumable: Yes</li>
              <li>Percent Remaining: {{ i.item_remaining }}&#37;</li>
              </ul>
            {% else %}
              Consumable: No
            {% endif %}
            </li>


            </div>
            <div class="card-footer">
              {% if i.kw_itm %}
              <ul class="list list-inline">
                {% for k in i.kw_itm.all %}
                  <li class="list-inline-item">
                  <a class="card-link" href="{% url 'keyword' k.keyword_id|slugify %}">{{ k.keyword_id }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
</div>
<div class="clear">
  <hr/>
  </div>
{% endblock %}
