{% extends 'inv/base.html' %}


{% block content %}
{% load static %}

 <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="jumbotron">
    <div class="container">

      <div class="media">

        <div class="media-body">
      <h1 class="media-heading display-3">{{ item.item_name }}</h1>

      <p>This item currently lives in<em> Box {{ box.bx_id }}: {{ box.name }}</em>,
      which is housed in the <em> {{ wh.name }}</em> warehouse.</p>

      <div class="card">
        <div class="card-header">
        <h3>Item Information</h3>
        </div><!--/card-heading-->
        <div class="card-body">
          <ul type="none">
            <li>Description: {{ item.item_desc }}</li>
            <li>Quantity: {{ item.item_qty }}</li>
            <li>Value (each): &#36;{{ item.item_value|floatformat:2 }}</li>
            {% if item.item_qty > 1 %}
            <li>Value (total): &#36;{{ item.totval|floatformat:2 }}</li>
            {% endif %}
            {% if item.item_consumable == True %}
            <li>Consumable: Yes</li>
            <li>Percent Remaining: {{ item.item_remaining }}&#37;</li>
            {% else %}
            <li>Consumable: No</li>
            {% endif %}
          </ul>
        </div><!-- /card-body-->
        <div class="card-footer">
          {% if kw %}
          <ul class="list list-inline">
          {% for k in kw %}
          <li class="list-inline-item"><a class="card-link" href="{% url 'keyword' k.keyword_id|slugify %}">{{ k.keyword_id }}</a></li>
          {% endfor %}
          </ul>
          {% endif %}
          </div><!--/card-footer-->
      </div><!--/card -->
</div><!-- /media-body-->
      {% if item.item_img|length > 0 %}
      <img class="m-3 img img-fluid"  width="40%"
      src="{% static 'inv/img/'|add:item.item_img %}" alt="A photo of Item {{i.item_id}}">
      </div><!--/media -->
      {% else %}
      </div><!--/media -->
      <div class="bg-warning my-2 text-dark">
      <p class="alert-text">A photograph of this item doesn't exist yet. If you'd like
        to contribute, please snap a photo and email it to the site contact with
        a subject line of "Property database photo for item {{ item.item_id }}"
        so we can add it (and so we know which database entry to add it to!).

        </div><!-- /alert-warning-->
        {% endif %}
        <!-- camera -->
        {% if camera != 'None' %}
        {% with itemid=item.item_id|slugify %}
        <p class="text-center"><a class="alert-link" 
          href="{% url 'capture' camera 'item_'|add:itemid %}"
          target="_blank">Submit a photo via the camera</a></p>
        {% endwith %}
        {% endif %}

</div><!-- /container -->


{% endblock %}
