{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container-fluid clearfix">

  {% if not items %}
  <div class="row px-5">
  <div class="col-md-12 p-3 border-bottom border-dark"><h1">Keywords</h1>
  <p class="lead">There are {{ kw|length }} keywords in this collection.</p>
  </div><!--col-->
  </div><!--row-->
  <div class="row">
    {% for k in kw %}
    <div class="col-md-2 py-3">
      <a href="{% url 'keyword' k.keyword_slug %}">
        <button class="btn btn-primary d-flex align-items-stretch w-100 justify-content-between align-items-center">{{ k.keyword }} <span class="badge badge-light badge-pill text-dark">{{ k.tot }}</span></button>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
{% if items %}
<div class="row px-5">
<div class="col-md-12 p-3 border-bottom border-dark">
  <h1>{{ keyword.keyword }}</h1>

  <p class="lead">There are {{ items|length }} items tagged with this keyword.</p>
  <p><a href="{% url 'keywords' %}">List all Keywords</a></p>

  </div><!--col-->
  </div><!--row-->
  <div class="row p-3">
    {% for i in items %}

       <div class="col-md-4 my-2 themed-grid-col item {% for k in i.kw_itm.all %} {{ k.keyword_id|slugify }}{% endfor %}">
        <div class="card mb-4 border-dark show d-flex align-items-stretch h-100">
          <div class="card-header"><h5 class="card-title">{{ i.item_name }} <a href="{% url 'item' i.item_id %}" class="card-link badge badge-pill badge-primary float-right">View</a></h5>
          </div><!--card-header-->
          {% if i.item_img|length > 0 %}
            <img class="card-img"
               src="{% static 'inv/img/'|add:i.item_img %}" alt="Photo of Item">

            {% else %}<p class="alert alert-warning text-center">A photo of this item does not exist.</p>
            {% endif %}
            <!-- camera -->
            {% if camera != 'None' %}
            {% with itemid=i.item_id|slugify %}
            <p class="text-center"><a class="alert-link" 
              href="{% url 'capture' camera 'item_'|add:itemid %}"
              target="_blank">Submit a photo via the camera</a></p>
            {% endwith %}
            {% endif %}
            


            <p class="card-text">
            Description: {{ i.item_desc }}<br/>
            Location:
            <ul>
              <li>Warehouse: <a href="{% url 'warehouse' i.whid %}">{{ i.whid }} | {{ i.wh }}</a></li>
              <li>Box: <a href="{% url 'box' i.boxid %}">{{ i.boxid }} | {{ i.box }}</a></li>
            </ul>
            Quantity: {{ i.item_qty }} <br/>
            Value (each): {{ i.item_val|floatformat:2 }} <br/>
            {% if i.qty > 1 %}
              Value (total): {{ i.totval|floatformat:2 }} <br/>
            {% endif %}
            {% if i.consumable == True %}
              Consumable: Yes<br/>
              Percent Remaining: {{ i.item_remaining }}&#37;<br/>
            {% else %}
              Consumable: No<br/>
            {% endif %}
            {% if i.kw_itm %}
            Keywords:

            <ul>
              {% for k in i.kw_itm.all %}
                <li>
                <a href="{% url 'keyword' k.keyword_id|slugify %}">{{ k.keyword_id }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}

            </p>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}

</div>

{% endblock %}
