{% extends 'inv/base.html' %}


{% block content %}
{% load static %}
<div class="container-fluid clearfix">
  <div class="col-md-8 offset-2"><h1>Search Results</h1>
    <p class="lead">Your query returned the following results.</p>
    </div>
<!-- sidebar -->
<nav class="sidebar col-md-2 float-left">
<h4>Filter by Keyword</h4>
<p class="lead remove">Start Over</p>
<ul type="none" class="list">
  {% for k in kw %}
  <li class="neutral kw {{ k.keyword|slugify }}">{{ k.keyword }}</li>
  {% endfor %}
</ul>
</nav>

<main role="main" class="col-md-10 float-right">
  {% if kw_result %}
  <div class="row mb-3">
    <div class="col-md-12">
      <p>Keyword Matches</p>
    </div>
    </div>
    <div class="row mb-3">
      {% for k in kw_result %}
        <div class="col-md-3">
          <p><a href="{% url 'keyword' k.keyword|slugify %}">{{ k.keyword }}</a></p>
        </div>
        {% endfor %}
  </div>
{% else %}
<div class="row mb-3">
  <div class="col-md-12">
    <p class="alert alert-warning">No Keyword Matches</p>
  </div>
  </div>
{% endif %}

<hr/>
{% if box_result %}
<div class="row mb-3">
  <div class="col-md-12">
    <p>Box Matches</p>
  </div>
  </div>
  <div class="row mb-3">
    {% for b in box_result %}
      <div class="col-md-3">
        <p><a class="" href="{% url 'box' b.box_id %}">{{ b.box_id }} | {{ b.box_name }}</a></p>
      </div>
      {% endfor %}
</div>
{% else %}
<div class="row mb-3">
  <div class="col-md-12">
    <p class='alert alert-warning'>No Box Matches</p>
  </div>
  </div>
{% endif %}
<hr/>
{% if wh_result %}
<div class="row mb-3">
  <div class="col-md-12">
    <p>Warehouse Matches</p>
  </div>
  </div>
  <div class="row mb-3">
    {% for w in wh_result %}
      <div class="col-md-3">
        <p><a href="{% url 'warehouse' w.warehouse_id %}">{{ w.warehouse_id }} | {{ w.warehouse_name }}</a></p>
      </div>
      {% endfor %}
</div>
{% else %}
<div class="row mb-3">
  <div class="col-md-12">
    <p class="alert alert-warning">No Warehouse Matches</p>
  </div>
  </div>
{% endif %}
<hr/>
{% if result %}
    <div class="row mb-3">
      <div class="col-md-12">
        <p>Item Matches</p>
      </div>
    </div>
      <div class="row mb-3">
    {% for i in result %}

       <div class="col-md-4 themed-grid-col item {% for k in i.kw_itm.all %} {{ k.keyword_id|slugify }}{% endfor %}">
        <div class="card mb-4 border-dark show">
          {% if i.item_img|length > 0 %}
            <img class="card-img-top"
               src="{% static 'inv/img/'|add:i.item_img %}" alt="Photo of Item">
            {% else %}<p>A photo of this item does not exist.<br/>
            {% with itemid=i.item_id|slugify  %}
      <a href="{% url 'piCapture' 'item_'|add:itemid %}" target="_blank">Submit a new photo via the Pi Camera.</a></p>
      {% endwith %}
            {% endif %}
            <!-- camera -->
            {% if camera != 'None' %}
            {% with itemid=i.item_id|slugify %}
            <p class="text-center"><a class="alert-link" 
              href="{% url 'capture' camera 'item_'|add:itemid %}"
              target="_blank">Submit a photo via the camera</a></p>
            {% endwith %}
            {% endif %}
            <h5 class="card-title">{{ i.item_name }}</h5>
            <p class="card-text">
            Description: {{ i.item_desc }}<br/>
            Location:
            <ul>
              <li>Warehouse: <a href="{% url 'warehouse' i.whid %}">{{ i.whid }} | {{ i.wh }}</a></li>
              <li>Box: <a href="{% url 'box' i.boxid %}">{{ i.boxid }} | {{ i.box }}</a></li>
            </ul>
            Quantity: {{ i.item_qty }} <br/>
            Value (each): {{ i.item_val|floatformat:2 }} <br/>
            {% if i.qty > 1 %}
              Value (total): {{ i.totval|floatformat:2 }} <br/>
            {% endif %}
            {% if i.consumable == True %}
              Consumable: Yes<br/>
              Percent Remaining: {{ i.item_remaining }}&#37;<br/>
            {% else %}
              Consumable: No<br/>
            {% endif %}
            {% if i.kw_itm %}
            Keywords:

            <ul>
              {% for k in i.kw_itm.all %}
                <li>
                {{ k.keyword_id }}
                </li>
              {% endfor %}
            </ul>
            {% endif %}
            <a href="{% url 'item' i.item_id %}" class="btn btn-dark
                   btn-sm">View</a>
            </p>
        </div>
      </div>
    {% endfor %}

  </div>
  {% else %}
  <div class="row mb-3">
    <div class="col-md-12">
      <p class="alert alert-warning">No Item Matches</p>
    </div>
    </div>
  {% endif %}
</main>
</div>
<div class="clear">
  <hr/>
  </div>
{% endblock %}
